body {
    font-family: Arial;
    font-size: medium;
}
.title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.label {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
